<div class="userbody">
  <p>{{singleUser.name}}</p>
  <p>{{singleUser.username}}</p>
  <p>{{singleUser.email}}</p>
  <p>{{singleUser.phone}}</p>
  <div class="adresuser">
    <h3>User adres</h3>
    <p>Street: {{singleUser.address.street}}</p>
    <p>Suite: {{singleUser.address.suite}}</p>
    <p>City: {{singleUser.address.city}}</p>
    <p>Zipcode: {{singleUser.address.zipcode}}</p>
  </div>
  <div class="companyuser">
    <h3>User company</h3>
    <p>Name: {{singleUser.company.name}}</p>
    <p>Purpose: {{singleUser.company.catchPhrase}}</p>
    <p>BS: {{singleUser.company.bs}}</p>
    <p>{{singleUser.website}}</p>
  </div>
</div>
<app-all-post-user *ngFor="let user1post of userposts" [userpost]="user1post">
</app-all-post-user>
